/* generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

menu,
ol,
ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.container-small {
  max-width: 880px;
  padding: 0 30px;
  margin: 0 auto;
}

.pt-1 .row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-right: -24px;
}

.flex {
  display: flex;
}

.sect-odd {
  background-color: white;
}

.sect-even {
  background-color: #9792E4;
}

.button-small {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
}

.button-white {
  background-color: white;
}

.button-big {
  padding: 15px 50px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}

.button-blue {
  background-color: #0084fd;
  color: white;
}

.pt-1 .col-33 {
  flex-basis: calc((100% / 3) - 24px);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  align-items: center;
  gap: 40px;
}

.pt-1 .col-66 {
  flex-basis: calc((100% / 3 * 2) - 24px);
  border-radius: 12px;
  display: flex;
  padding: 40px 25px 40px 25px;
}

.col-50 {
  flex-basis: 50%;
  flex-direction: column;
  gap: 40px;
  display: flex;
}


/* header */

.main-header {
  background-color: #0084FD;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-size: 18px;

}

.header-menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-menu a {
  color: white;
  text-decoration: none;
}

.menu-hidden {
  display: none;
}

/* header tablet */
@media screen and (max-width: 810px) {
  .header-menu {
    display: none;
  }

  .menu-hidden {
    display: block;
  }

}

/* header mobile */
@media screen and (max-width: 440px) {
  .header-menu {
    display: none;
  }

  .menu-hidden {
    display: block;
  }

}


/* main */

/* sezione 1 */

.pt-1 {
  padding: 45px 0 100px 0;

}

.pt-1 .col-33,
.pt-1 .col-66 {
  background-color: #B5DDFF;
}

.col-50-2 {
  align-items: center;
  justify-content: flex-end;

}

.col-50-2 img {
  width: 200px;
  margin-bottom: -40px;
}

.pt-1 h3 {
  color: #0084fd;
  font-size: 1.5rem;
}

.pt-1 p {
  line-height: 1.6rem;
}

.pt-1 button svg {
  vertical-align: text-top;
}

/* sezione 1 tablet */

@media screen and (max-width: 810px) {
  .pt-1 .col-66 {
    flex-direction: column;
    gap: 40px;

  }

  .pt-1 .col-50-2 {
    align-items: flex-start;
  }

  .button-big {
    align-self: flex-start;
  }
}


/* sezione 1 mobile */
@media screen and (max-width: 440px) {

  .pt-1 .col-66,
  .pt-1 .col-33 {
    flex-basis: calc(100% - 24px);
  }
}


/* sezione 2 */
.pt-2 {

  padding: 100px 0 70px 0;
}

.pt-2 .col-50:first-child {
  color: white;
}

.pt-2 .col-50:first-child h3 {
  font-size: 2rem;
}

.pt-2 .col-50:last-child h3 {
  font-size: 1.5rem;
}

.pt-2 .col-50:last-child {
  margin-left: 50px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  padding: 40px;
  align-self: flex-end;
  align-items: center;
}

.pt-2 .col-50:first-child img {
  margin-bottom: 110px;
  width: 100%;

}

.pt-2 .col-50:last-child img {
  width: 70%;
}

.download {
  border-radius: 50%;
  background-color: #9792e4;
  border: none;
  padding: 0 15px;
  line-height: 40px;
  font-size: 20px;
}

/* sezione 2 tablet */

@media screen and (max-width: 810px) {
  .container-small.flex {
    flex-direction: column;
    gap: 40px;
  }

  .col-50 {
    width: 100%;
  }

  .pt-2 .col-50:first-child h3 {
    font-size: 4rem;
  }

  .pt-2 .col-50:first-child img {
    margin-bottom: 90px;
    width: 100%;

  }

}

/* sezione 2 mobile */
@media screen and (max-width: 440px) {
  .pt-2 .col-50:first-child h3 {
    font-size: 2rem;
  }

}


/* sezione 3 */
.pt-3 {
  padding: 65px 0;
}

.pt-3 .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 55px
}

.pt-3 header {
  text-align: center;
}

.pt-3 h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #9792E4;
  font-size: 3rem;
}

.pt-3 p {
  font-size: 18px;
}

.pt-3 img {
  max-width: 200px;
  aspect-ratio: 1;
  border-radius: 100%;
  object-fit: cover;
}

.quote {
  padding: 0 0 0 60px;
  color: white;
}

.quote p {
  margin-bottom: 40px;
  font-weight: 18px;
}

.pt-3 .card {
  background-color: #9792E4;
  padding: 25px 15px 50px 15px;
  border-radius: 40px;
}

.card.flex {
  align-items: center;
}

.quote p:before {
  content: open-quote;
  font-weight: bold;
  font-size: 25px;
}

.quote p:after {
  content: close-quote;
  font-weight: bold;
  font-size: 25px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/* sezione 3 tablet */
@media screen and (max-width: 810px) {}


/* sezione 3 mobile */
@media screen and (max-width: 440px) {
  .flex.card {
    flex-direction: column;
  }

  .quote {
    padding: 0;
    text-align: center;
  }

  .pt-3 h2 {
    font-size: 2.5rem;
  }

}


/* sezione 4 */

.pt-4 {
  padding: 75px 0 65px 0;
}

.pt-4 h2 {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 75px;
}

.pt-4 .col-33 {
  flex-basis: calc((100% / 3) - 30px);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 55px 35px 35px 35px;
  gap: 40px;
  background-color: white;
}

.pt-4 .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: -30px;
}

.button-violet {
  background-color: #9792E4;
  color: white;
  align-self: flex-start;
}

.pt-4 h3 {
  color: #9792E4;
  font-size: 1.5rem;
}

.benefit-number {
  color: #9792E4;
  font-size: 4rem;
  font-weight: bold;
}

/* sezione 4 tablet */
@media screen and (max-width: 810px) {
  .pt-4 .col-33 {
    flex-basis: calc(50% - 30px);
  }
}


/* sezione 4 mobile */
@media screen and (max-width: 440px) {
  .pt-4 .col-33 {
    flex-basis: calc(100% - 30px);
  }

  .benefit-number {

    font-size: 3rem;
    font-weight: bold;
  }

  .pt-4 h2 {
    font-size: 2.5rem;
  }
}


/* sezione 5 */

.pt-5 {
  padding: 100px 0;
}

.pt-5 h2 {
  color: #9792E4;
  font-size: 4rem;
  margin-bottom: 70px;

}

.pt-5 .col-66 p {
  line-height: 2rem;
  font-size: 18px;
  margin-bottom: 75px;
}

.pt-5 .col-66 {
  flex-basis: calc(100% / 3 * 2);
  padding-left: 80px;
}

.pt-5 .col-33 {
  flex-basis: calc(100% / 3);
  padding: 0 80px;
  position: relative;
}

.pt-5 .col-33 img {
  max-width: 250px;
  aspect-ratio: 1;
  border-radius: 100%;
  object-fit: cover;
}

.img-cont {
  position: relative;
}

.quote-pos-abs {
  position: absolute;
  top: 0;
  right: 0;
}

.pt-5 button svg {
  vertical-align: text-bottom;
}

.pt-5 .col-33 p {
  color: #9792E4;
  line-height: 2rem;
  font-weight: bold;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* sezione 5 tablet */
@media screen and (max-width: 810px) {}



/* sezione 5 mobile */
@media screen and (max-width: 440px) {

  .pt-5 .col-66,
  .pt-5 .col-33 {
    flex-basis: 100%;
    padding-left: 0;
  }
  .pt-5 .flex{
    flex-direction: column;
  }
}


