/* generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
menu, ol, ul{
  list-style: none;
}
.container{
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
  
}
.button-small{
  padding: 10px 15px ;
  border-radius: 20px;
  border: none;
  font-size: 18px;
}
.button-white{
  background-color: white;
}
.button-big{
  padding: 15px 50px ;
  border-radius: 20px;
  border: none;
  font-size: 16px;
}
.button-blue{
  background-color: #0084fd;
  color:white ;
}
.col-33{
  flex-basis: calc((100% / 3) - 24px );
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  align-items: center;
  gap: 40px;
  
}
.col-66{
  flex-basis: calc((100% / 3 * 2) - 24px ) ;
  border-radius: 12px;
  display: flex;
  padding: 40px 25px 40px 25px;
}
.col-50{
  flex-basis: 50%;
  flex-direction: column;
  gap: 40px;
  display: flex;
  
}
/* header */

.main-header{
  background-color:#0084FD ;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-size: 18px;
}

.header-menu{
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-menu a{
  color: white;
  text-decoration: none;
} 
.menu-hidden{
  display: none;
}
/* header tablet */
@media screen and (max-width: 810px ) {
  .header-menu{
    display: none;
  }
  .menu-hidden{
    display: block;
  }
  
}
/* header mobile */
@media screen and (max-width: 440px ) {
  .header-menu{
    display: none;
  }
  .menu-hidden{
    display: block;
  }
  
}


/* main */

/* sezione 1 */

.pt-1{
  padding: 45px 0 100px 0 ;
  background-color: white;
}

.pt-1 .col-33,.pt-1 .col-66{
  background-color: #B5DDFF;
}
.col-50-2{
  align-items: center;
  justify-content: flex-end;
  
}
.col-50-2 img{
  width: 200px;
  margin-bottom: -40px;
}

.pt-1 h3{
  color: #0084fd;
  font-size: 1.5rem;
}

.pt-1 p{
  line-height: 1.6rem;
}

/* sezione 1 tablet */

@media screen and (max-width: 810px ) {
  .col-66{
    flex-direction: column;
    gap: 40px;
    
  }
  .col-50-2{
    align-items: flex-start;
  }
  .button-big{
    align-self: flex-start;
  }
}


/* sezione 2 mobile */
@media screen and (max-width: 440px ) {
  .col-66, .col-33{
    flex-basis: 100%;
  }
}